<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>404 Error</title>
    <link rel="stylesheet" type="text/css" href="css/404errorStyle.css" media="all">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&family=Roboto&display=swap">
</head>

<body>

</body>
    <div id="errorTitle">
    <div class="reflectionTitle">
        <span>404 Error</span>
        <span>404 Error</span>
    </div>
    <p>This page could not be found</p>
    </div>
</html>