<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>WBook</title>
    <script src="js/mainScript.js" defer></script>
    <link href="css/mainStyle.css" media="screen" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&family=Roboto&display=swap"
          rel="stylesheet">
</head>
<body>

<!--    Header -> contains a main page and the dropdown-->
<header>
    <article class="homeImage">
        <img alt="homePage image" src="images/homePage.jpg">
        <section class="personalCard">
            <h2 class="subtitle">Hi there, I'm</h2>
            <h1 class="title">Sergiu</h1>
            <h2 class="subtitle">a frontend developer and ui/ux designer</h2>
        </section>
    </article>
    <div class="columns">
        <nav class="navigation">
            <ul>
                <li>Home</li>
                <li>About me</li>
                <li>Posts</li>
                <li>Contact</li>
                <li class="dropdown">
                    <div class="containerDropdown">
                                <button class="click">Click me</button>
                                <ul class="list">
                                    <li class="links" id="logOutBtn">Log out</button>
                                </div>

                            </div>
                </li>
            </ul>
            <!--                Mini profile icon for account-->
        </nav>
    </div>
</header>
<main class="mainContent">
    <!-- Begin About Me Section -->
    <div class="aboutMe display" id="about-me">
        <h1 class="header">About Me</h1>
        <div class="aboutColumns">
            <div
                    class="column"

            >
                <p class="larger">
                    &emsp;&emsp;<strong
                >Showcase is a modern, beautiful personal website template to
                    showcase who you are, as well as projects you've worked on in
                    the past.</strong
                >
                </p>
                <br/>
                <p>
                    Showcase was built from the ground up with Bulma to be fast and
                    responsive out of the box with all source files well documented
                    for easy to customization. The Showcase template gives you a
                    personal space to share what you are all about as a creative
                    designer, developer, photographer, and more!
                </p>
                <br/>
                <div class="divider"></div>
                <div class="columns-about-links">
                    <div class="column">
                        <p class="heading">
                            <strong>Give me a ring</strong>
                        </p>
                        <p class="subheading">
                            123-456-7890
                        </p>
                    </div>
                    <div class="column">
                        <p class="heading">
                            <strong>Email Me</strong>
                        </p>
                        <p class="subheading">
                            hello@example.com
                        </p>
                    </div>
                    <div class="column">
                        <p class="heading">
                            <strong>View my portfolio</strong>
                        </p>
                        <p class="subheading">
                            example.com
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <img
                        alt=""
                        class="aboutImage"
                        src="https://picsum.photos/id/366/600/375"
                />
            </div>
        </div>
    </div>

    <div class="posts display">
        <h1 class="postsTitle">Recommended posts</h1>
        <div class="columns-features">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <img src="https://source.unsplash.com/RWnpyGtY1aU" alt="Placeholder image" />
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Click on image above</h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra nam.</p>
                            <button class="seeMore">See more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image" />
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tempor orci dapibus faber in.</h4>
                            <p>Ut venenatis tellus in metus vulputate. Amet consectetur adipiscing elit pellentesque. Sed arcu non odio euismod lacinia at quis risus. Faucibus turpis in eu mi bibendum neque egestas cmonsu songue. Phasellus vestibulum lorem
                                sed risus.</p>
                            <button class="seeMore">See more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <img src="https://res.cloudinary.com/ameo/image/upload/v1568711475/pexels-photo-1302883_fjje0f.jpg" alt="Placeholder image" />
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Click anywhere on card</h4>
                            <p>Imperdiet dui accumsan sit amet nulla facilisi morbi. Fusce ut placerat orci nulla pellentesque dignissim enim. Libero id faucibus nisl tincidunt eget nullam. Commodo viverra maecenas accumsan lacus vel facilisis.</p>
                            <button class="seeMore">See more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="/search" class="postsBtn"><span></span>See all posts</a>
    </div>


    <div class="contact display" id="contact">
        <div class="container">
            <div
                    class="contactColumns"
            >
                <div class="column">
                    <h1 class="contactTitle">
                        Get in touch
                    </h1>
                </div>
                <div class="column">
                    <form
                            action="/"
                            method="POST"
                            id="contactForm"
                    >
                        <div class="field">
                            <label class="label" for="name">Name</label>
                            <input
                                    class="input"
                                    id="name"
                                    placeholder="Ex. Jane Smith"
                                    type="text"
                            />
                        </div>
                        <div class="field">
                            <label class="label" for="email">Email</label>
                            <input
                                    class="input"
                                    id="email"
                                    placeholder="Ex. hello@arctheme.com"
                                    type="email"
                            />
                        </div>
                        <div class="field">
                            <label class="label" for="message">Message</label>
                            <textarea
                                    class="textarea"
                                    id="message"
                                    placeholder="Textarea"
                            ></textarea>
                        </div>
                        <div class="field">
                                <button class="contactBtn">
                                    Submit&nbsp;&nbsp;
                                </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>