<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/postsPageStyle.css" media="all" type="text/css">
    <script src="js/postsPageScript.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Kaushan+Script&family=Poppins&family=Raleway&family=Roboto&display=swap" rel="stylesheet">
    <title>Posts</title>
</head>
<body>
    <div class="nav-wrapper">
        <div class="left-side">

            <div class="nav-link-wrapper" style="margin-top: 5px">
                <a href="/">Home</a>
            </div>

        </div>

        <div class="center-side">
            <img src="images/logo.png" class="center" alt="logo photo" />
        </div>

        <div class="right-side">
            <div class="brand" style="margin-top: 5px">
                <div>Stanciu Sergiu</div>
            </div>
        </div>
    </div>

    <div id="postsHeading">
        <h1 id="postsTitle">Here you can see all posts</h1>
        <button type="button" id="postCreate">
          <span class="button-text">+</span>
          <span class="button-text">Create post</span>
        </button>
    </div>
    <div class="cards">
          <% posts.forEach(function(post){ %>
                     <%- include('./partials/post', {post: post}); %>
                         <% }); %>

    </div>
</body>
</html>