* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
}

.homeImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 643px;
}

.homeImage > img {
    display: block;
    position: absolute;
    height: 643px;
    width: 100%;
}

.personalCard {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    left: 50%;
    margin-top: 200px;
    transform: translateX(-50%);
}

.personalCard > .subtitle:last-of-type {
    text-transform: uppercase;
}

.subtitle {
    padding: 5px;
    color: whitesmoke;
    font-size: 1.23rem;
    font-weight: 400;
    line-height: 1.25;
    word-break: break-word;
}

.title {
    font-family: 'Kaushan Script', cursive;
    margin-top: -1.25rem;
    transform: rotate(-5deg);
    color: whitesmoke;
    font-size: 5rem;
}

.columns {
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 8%);
    margin: 640px auto 7px;
}

.navigation {
    line-height: 30px;
    font-weight: 600;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
    height: 30px;
}

.navigation > ul {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 100%;
}

.navigation > ul > li {
    color: #1f2c6c;
    cursor: pointer;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin: 0 20px;
}

.navigation > ul > li:nth-child(1) {
    margin-left: 15%;
}

.navigation li:hover {
    color: #1f2c6c;
    transition: all .2s ease-in-out;
    border-bottom: 2px solid #1f2c6c;
}

/* Main content stylization */
.mainContent {
    padding-top: 2em;
    color: #3c4172;
    font-family: "Poppins", sans-serif;
    max-width: 80%;
    margin: 0 auto;
}

.aboutMe, .contact, .posts {
    padding: 30px;
}
.display {
    transition: all 1s ease-in;
    transform: translateY(150px);
    opacity: 0;
}
.display.active {
    opacity: 1;
    transform: translateY(0);
}

.header {
    color: #43485c;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 2px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: 600;
    line-height: 1.125;
    margin-bottom: 20px;
}

.aboutColumns, .contactColumns {
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
    justify-content: space-between;
}

.column {
    max-width: 50%;
}

.divider {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 10px;
}

.aboutImage {
    border-radius: 11px;
    margin: 0 20px 0 40px;
    box-shadow: 0 5px 20px rgb(14 25 80 / 30%);
    height: auto;
    max-width: 100%;
}

.columns-about-links {
    display: flex;
}

.columns-about-links > .column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}

.heading {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #2a2a2a;
}

.contact {
    padding: 0 200px 200px 200px;
}

.contactTitle {
    margin-bottom: 50px;
}

.contactColumns {
    flex-direction: column;
    align-items: center;
}

.contactColumns > .column {
    min-width: 100%;
    text-align: center;
}

.contactColumns > .column .field > label {
    width: 100%;
    text-align: left;
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5em;
    margin-top: 0.75em;
}

.contactColumns > .column .field > :is(input, textarea) {
    padding: 8px 4px;
    width: 100%;
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
    max-width: 100%;
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
}

.contactBtn {
    width: 100%;
    background-color: #43485c;
    color: white;
    height: 50px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    border-color: #dbdbdb;
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding: calc(0.5em - 1px) 1em;
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;
    margin-top: 6px;
}

.contactBtn:active {
    border-color: #4a4a4a;
}

.contactBtn:focus {
    box-shadow: 0 0 0 0.125em rgb(50 115 220 / 25%);
}

/*Posts CSS*/
.postsTitle {
    margin: 3em auto 0;
    text-align: center;
}
.columns-features {
    display: flex;
    padding-top: 5rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}

.columns-features > .column {
    flex: none;
    width: 33.33%;
    display: block;
    padding: 0.75rem;
}

.card {
    background-color: #EDEAE5;
    box-shadow: rgb(0 0 0 / 10%) 0 1px 0;
    border-radius: 4px;
    display: inline-block;
    margin: 10px;
    position: relative;
    max-width: 100%;
    color: #4a4a4a;
    transition: box-shadow 0.5s ease-in-out;
}

.card:hover {
    box-shadow: 0 10px 16px rgb(0 0 0 / 13%), 0 6px 6px rgb(0 0 0 / 19%);
}

.card-image {
    display: block;
    position: relative;
}

.card-image > img {
    width: 100%;
    height: 100%;
}

.card-content {
    background-color: transparent;
    padding: 1.5rem;
}

.content {
    font-size: 14px;
    margin: 0 1rem;
}

.content h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0.8em;
    color: #363636;
}

.content p {
    margin-bottom: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.seeMore {
    padding: 8px 14px;
    background-color: rgb(149, 170, 197);
    color: rgb(53, 49, 49);
    border: none;
    outline: none;
    cursor: pointer;
}


/*  Creative button POSTS*/
.postsBtn {
    position: relative;
    font-size: 16px;
    color: #262626;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.postsBtn:after, .postsBtn:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: #003087;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .3s;
    opacity: 0;
    z-index: -1;
}

.postsBtn:before {
    left: 0;
    box-shadow: -100px 0 0 #003087;
}

.postsBtn:after {
    right: 0;
    box-shadow: 100px 0 0 #003087;
}

.postsBtn:hover:before {
    left: 45%;
    transform: translateY(-50%);
    opacity: 1;
    box-shadow: -30px 0 0 #003087;
}

.postsBtn:hover:after {
    right: 45%;
    transform: translateY(-50%);
    opacity: 1;
    box-shadow: 30px 0 0 #003087;
}

.postsBtn span {
    position: absolute;
    background-color: #003087;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    z-index: -1;
    transform: scale(0);
    transition: all .3s;
}

.postsBtn:hover span {
    transform: scale(1);
    transition-delay: .4s;

}

.postsBtn:hover {
    color: white;
    transition-delay: .4s;
}

/* Dropdown stylization */
.containerDropdown {
    width:200px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.click{
    background-color: #f85f73;
}

.click:hover {
    background-color: #B71C1C;
}

.click,.links {
    margin-top: -7px;
    padding: 10px;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    width:200px;
    color:#fff;
    transition: 0.3s;
}
.list {
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}
.newlist {
    transform: scaleY(1);
}
.links {
    list-style-type: none;
    background-color: #283c63;
}
.links:hover {
    background-color: #01579B;
    transform: scale(1.1);
}